<div class="audio-wrapper" style="text-align: center">
  <p>{{ body|raw }}</p>
<a class="voice-record {{ class }}" href="https://record.b1onlinetests.com?uid={{ uid }}&quiz_id={{ quiz_id }}&time={{ time }}&destination={{ url('<current>') }}">
  <img src="/themes/custom/vanipro/images/icons/record.png" width="100px" height="auto"/>
  <p>Bắt Đầu Ghi Âm</p>
</a>
</div>
